<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Rental</title>

    <%- include('partial/bootstrap') %>
</head>

<body>
    <%- include('partial/navbar',{session:session}) %>
        <% if(err){%>
            <div class="alert alert-danger" role="alert">
                <%= err %>
            </div>
            <%} %>
</body>

</html>